.login {
  border: 2px solid black;
  border-radius: 5px;
}

#CSRF_form {
  margin: 1em;
}

#login_form {
  margin: 1em;
}

.loggedAs {
  width: 300px;
  display: inline-block;
  position: relative;
  top: -90px;
}

.changePassword {
  width: 300px;
  display: inline-block;
}

.wrong {
  color: #d62e2e;
  font-weight: bold;
}
